body{
	padding-top: 100px;
	padding-bottom: 30px;
	background-color: #eee;
	background-image: url("../img/back_1.jpg");
	background-repeat: no-repeat;
}

.form-login{
	max-width: 400px;
	padding: 20px;
	margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
	margin-bottom: 20px;

}

.form-login .form-control{
	position: relative;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-login .form-control:focus{
	z-index: 3;
}

.form-login input[type="email"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; 
}
.form-login input[type="password"]{
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; 
}

.message{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.form-cadusu{
	max-width: 330px;
}
.form-cadusu input[type="password"]{
	margin-bottom: 10px;
}

.listagem{
	position: relative;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}